# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Max Externals
*.mxo
*.mxe
*.mxe64

# Executables
*.exe
*.out
*.app

# Visual Studio Files
.vs
.tlog

# Debug files
*.pdb

# macOS
.DS_Store

# Allow certain .lib
!Windows/lib/x64/*.lib 
!Windows/lib/x86/*.lib 
